/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @keyframes rainbow {
   0% {color: #ff0000;}
   10% {color: #ff8000;}
   20% {color: #ffff00;}
   30% {color: #80ff00;}
   40% {color: #00ff00;}
   50% {color: #00ff80;}
   60% {color: #00ffff;}
   70% {color: #0080ff;}
   80% {color: #0000ff;}
   90% {color: #8000ff;}
   100% {color: #ff0080;}
}

@-webkit-keyframes rainbow {
   0% {color: #ff0000;}
   10% {color: #ff8000;}
   20% {color: #ffff00;}
   30% {color: #80ff00;}
   40% {color: #00ff00;}
   50% {color: #00ff80;}
   60% {color: #00ffff;}
   70% {color: #0080ff;}
   80% {color: #0000ff;}
   90% {color: #8000ff;}
   100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
   0% {color: #ff0000;}
   10% {color: #ff8000;}
   20% {color: #ffff00;}
   30% {color: #80ff00;}
   40% {color: #00ff00;}
   50% {color: #00ff80;}
   60% {color: #00ffff;}
   70% {color: #0080ff;}
   80% {color: #0000ff;}
   90% {color: #8000ff;}
   100% {color: #ff0080;}
}
@-o-keyframes rainbow {
   0% {color: #ff0000;}
   10% {color: #ff8000;}
   20% {color: #ffff00;}
   30% {color: #80ff00;}
   40% {color: #00ff00;}
   50% {color: #00ff80;}
   60% {color: #00ffff;}
   70% {color: #0080ff;}
   80% {color: #0000ff;}
   90% {color: #8000ff;}
   100% {color: #ff0080;}
}

 .my-nav-links {
   position: fixed;
   width: 35vw;
   bottom: 1vh;
   right: 0vw;
   text-align: right;
   z-index: 1000;
 }

 .my-nav-links a {
   color: white;
   padding-right: 1vw;
   font-size: 2vw;
 }

 .my-nav-links a:hover {
   -webkit-animation: rainbow 1s ease infinite;
   -ms-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
   animation: rainbow 1s ease infinite;
 }

 button, a {
   outline: none;
 }

 .blog {
    background: white;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 48%;
    margin: 0 auto;
    margin-top: 1.5%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
 }

 .blog ul {
    padding: 0;
 }

 .like-post {
    padding-bottom: 1vh;
    border: 1px solid lightgray;
    background: white;
    width: 36.6vw;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    margin-left: 16.6vw;
    margin-bottom: 1.7vh;
    padding-top: 1vh;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
 }

 .like-post:first-of-type {
    margin-top: 3%;
 }

 .like-post strong {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1vw;
   color: rgb(58, 54, 54);
   position: relative;
   bottom: 2.5vh;
 }

 .like-post h2 {
   margin-bottom: 0%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2vw;
 }

 .like-post li {
   list-style: none;
 }

 .like-post img {
    width: 39.95vw;
    position: relative;
    right: 1.65vw;
 }

 .blog-post {
    padding-bottom: 1.4vh;
    border: 1px solid lightgray;
    background: white;
    width: 28vw;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    margin: 0 auto;
    padding-top: 2.3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
 }

 .blog-post strong {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1vw;
   color: rgb(58, 54, 54);
   position: relative;
   bottom: 17px;
 }

 .blog-post h2 {
   margin-bottom: 0%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2vw;
 }

 .blog-post li {
   list-style: none;
 }

 .blog-post img {
    width: 31vw;
    position: relative;
    right: 1.5vw;
 }

 .home-link {
    position: absolute;
    right: 10vw;
    top: 3vh;
    border: none;
    background: none;
    color: gray;
    font-size: 2vw;
 }

 .explore-link {
    position: absolute;
    right: 6vw;
    top: 3vh;
    border: none;
    background: none;
    color: gray;
    font-size: 2vw;
 }

 .dropbtn {
    border: none;
    background: none;
    color: gray;
    font-size: 2vw;
 }

 .dropdown {
    position: absolute;
    right: 1.6vw;
    top: 2.7vh;
 }

 .dropdown-content {
    position: absolute;
    right: 0.5vw;
    top: 6.2vh;
    min-width: 18.3vw;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    overflow: hidden;
    z-index: 100;
 }

 .dropdown-head {
    background: rgb(219, 219, 219);
    color: rgb(68, 67, 67);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
 }

 .dropdown-links a {
    text-decoration: none;
    display: block;
    font-size: 1vw;
 }

 .dropdown-links {
    background: white;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
 }

 .nav-like {
    color: rgb(56, 56, 56);
    margin-left: 1.1vw;
 }

 .nav-follow {
    color: rgb(56, 56, 56);
    margin-left: 1.1vw;
    margin-top: 2.3vh;
    font-size: 1vw !important;
 }

 .nav-like-text {
    color: rgb(56, 56, 56);
    margin-left: 1.3vw;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
 }

 .nav-follow-text {
    color: rgb(56, 56, 56);
    margin-left: 1.3vw;
    display: inline-block;
    position: relative;
    bottom: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
 }

 .like-btn {
    border: none;
    background: white;
    font-size: 2vw;
    color: red;
    float: right;
    position: relative;
    bottom: 3vh;
 }

 .like-hide {
    visibility: hidden;
    position: absolute;
    left: 1%;
 }

 .post strong {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1vw;
   color: rgb(58, 54, 54);
   position: relative;
   bottom: 17px;
 }

 .nav-bar-in {
    border-bottom: 1px solid gray;
    padding-bottom: 7.5vh;
 }

 .nav-bar-out {
    padding-bottom: 1%;
 }

 .sidebar {
   float: right;
   margin-top: 7.5vh;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   top: 5vh;
   right: 14vw;
 }

 .user-index {
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 0.63vw;
 }

 .sidebar h2 {
   margin-top: 0%;
   color: white;
   font-size: 1vw;
   margin-left: 0.6vw;
   margin-bottom: 0%;
 }

 .user-index h2 {
    padding-top: 2%;
    color: #444;
    font-size: 1vw;
    text-align: center;
 }

 .sidebar ul {
    list-style: none;
    padding: 0%;
    width: 22.5vw;
 }

 .user-index ul {
    list-style: none;
    padding: 2%;
    width: 50%;
    margin: auto;
 }

 .sidebar li {
   padding: 3.5%;
   border-top: 1px solid gray;
   margin-bottom: 1vh;
 }

 .user-index li {
    padding: 2%;
    max-width: 100%;
    border-top: 1px solid rgb(235, 235, 235);
    margin-bottom: 2%;
 }

 .side-avatar {
   width: 3.1vw;
   display: flex;
   float: left;
   margin-right: 0.9vw;
 }

 .follow-avatar {
    width: 9%;
    height: 9%;
    display: flex;
    float: left;
    margin-right: 2%;
    border-radius: 0.19vw;
 }

 .side-username {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 0.4vh;
 }

 .follow-username {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 0.2%;
 }

 .side-title {
    text-decoration: none;
    color: gray;
    display: block;
    font-size: 1vw;
 }

 .follow-title {
    text-decoration: none;
    color: gray;
    display: block;
    font-size: 1vw;
 }

 .blog-unfollow {
    min-width: 112%;
    white-space: nowrap;
    color: rgba(0,0,0,0.6);
    background: transparent;
    border-color: #bfbfbf;
    height: auto;
    font-size: 1vw;
    line-height: 219%;
    padding: 0 10px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    border-radius: 0.13vw;
 }

 .explore-index {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
 }

 .col {
    padding-left: 1.5vw;
 }

 .blog-follow {
    text-decoration: none;
    color: rgb(128, 126, 126);
    background: none;
    border: none;
 }

 .follow-icon {
    font-size: 3vw !important;
 }

 .follow {
    display: flex;
    float: right;
    position: relative;
    bottom: 5vh;
    right: 0.7vw;
 }

 .to-dash {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 4vw;
    margin-left: 1vw;
    position: absolute;
    top: 0;
    left: 0;
 }

 .to-dash:hover {
   -webkit-animation: rainbow 1s ease infinite;
   -ms-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
   animation: rainbow 1s ease infinite;
 }

 .blog-edit {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background-color: white;
    margin-right: 4.5%;
    text-decoration: none;
    padding: 0.7% 1% 0.7% 1%;
    position: absolute;
    top: 12%;
    right: 23%;
    border-radius: 0.19vw;
 }

 .blog-avatar {
    width: 15%;
    height: 15%;
    margin-left: 42.5%;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden;
 }

 .blog-title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 54, 54);
    font-size: 4vw;
    font-weight: 925;
    display: block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
 }

 .blog-description {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 54, 54);
    font-size: 1vw;
    display: block;
    text-align: center;
    margin-bottom: 3%;
 }

 .post-index-container {
    display: flex;
    justify-content: flex-end;
    width: 56.6vw;
 }

 .post-index {
    width: 48.5vw;
 }

 .posts {
    padding: 0;
 }

 .post-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
 }

 .dash-avatar {
    width: 5.2vw;
    height: 9.5vh;
    border-radius: 0.19vw;
    position: sticky;
    position: -webkit-sticky;
    top: 5vh;
    margin-bottom: 2.5vh;
    margin-left: 1.6vw;
 }

 .dash-avatar-container {
    margin-right: 2vw;
    max-width: 6.5vw;
 }

 .post-links-container {
    display: flex;
    justify-content: flex-end;
    width: 56.6vw;
    margin-top: 4vh;
    max-height: 13.5vh;
 }

 .post-avatar {
    position: sticky;
    top: 5vh;
    width: 5.2vw;
    height: 9.5vh;
    border-radius: 0.19vw;
    margin-bottom: 0.3vh;
 }

 .post-avatar-container {
    margin-right: 1.6vw;
    width: 5.3vw;
 }

 .username {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1vw;
    color: black;
 }

 .post h2 {
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
 }

 .explore-post h2 {
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
 }

 .post-description {
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
 }

 .post-caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    margin-bottom: 0%;
 }

 .post-quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0%;
 }

 .post-quote:before {
    content: open-quote;
 }

 .post-quote:after {
    content: close-quote;
 }

 .post-source:before {
    content: "— ";
 }

 .post-source {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
 }

 .post-form {
    position: fixed;
    background: white;
    height: auto;
    top: 50vh;
    left: 49.4vw;
    z-index: 999;
    transform: translate(-50%, -50%);
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    overflow: hidden;
 }

 .modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
 }

 .display-block {
   display: block;
 }

 .display-none {
   display: none;
 }

 .blog-form {
    background: white;
    width: 37.5vw;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    overflow: hidden;
    margin: auto;
    margin-top: 13.9vh;
 }

 #text-title {
    display: block;
    border: none;
    width: 90%;
    height: 6vh;
    padding-left: 1.5vw;
    margin-bottom: 1vh;
    font-size: 1vw;
 }

 #text-description {
    display: block;
    border: none;
    width: 90%;
    height: 7.3vh;
    padding-left: 1.5vw;
    resize: none;
    font-size: 1vw;
 }

 #photo-url {
    display: block;
    border-left: none;
    border-right: none;
    border-top: 3px dashed lightgray;
    border-bottom: 3px dashed lightgray;
    width: 100%;
    height: 29.5vh;
    padding-left: 1.5vw;
    margin-bottom: 1vh;
    font-size: 1vw;
 }

 #photo-caption {
    display: block;
    width: 100%;
    height: 15vh;
    margin-left: 1.5vw;
    border: none;
    resize: none;
    font-size: 1vw;
 }

 #quote-caption {
    display: block;
    border: none;
    height: 6vh;
    margin-left: 1.5vw;
    margin-bottom: 1vh;
    resize: none;
    padding-top: 2vh;
    font-size: 1vw;
 }

 #quote-summary {
    display: block;
    border: none;
    margin-left: 1.5vw;
    font-size: 1vw;
 }

 #link-url {
    display: block;
    border-left: none;
    border-right: none;
    border-top: 3px dashed lightgray;
    border-bottom: 3px dashed lightgray;
    width: 100%;
    height: 18.5vh;
    padding-left: 1.5vw;
    margin-bottom: 1vh;
    font-size: 1vw;
 }

 #link-description {
    display: block;
    width: 100%;
    height: 15vh;
    margin-left: 1.5vw;
    border: none;
    resize: none;
    font-size: 1vw;
 }

 #user-avatar {
    display: block;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px dashed lightgray;
    width: 100%;
    height: 6vh;
    padding-left: 1.5vw;
    margin-bottom: 1vh;
    font-size: 1vw;
 }

 #blog-title {
    display: block;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px dashed lightgray;
    width: 100%;
    height: 6vh;
    padding-left: 1.5vw;
    margin-bottom: 1vw;
    font-size: 1vw;
 }

 #blog-description {
    display: block;
    width: 100%;
    height: 6vh;
    margin-left: 1.5vw;
    border: none;
    resize: none;
    font-size: 1vw;
 }

 .blog-form form button {
   border: none;
   background: deepskyblue;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   margin-left: 24.8vw;
   padding-right: 0.7vw;
   padding-left: 0.7vw;
   padding-top: 0.5vh;
   padding-bottom: 0.5vh;
   border-top-left-radius: 0.19vw;
   border-bottom-left-radius: 0.19vw;
   border-top-right-radius: 0.19vw;
   border-bottom-right-radius: 0.19vw;
   font-size: 1vw;
 }

 .blog-form form a {
   display: inline-block;
   text-decoration: none;
   background: rgb(197, 196, 196);
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 1vw;
   padding-right: 0.7vw;
   padding-left: 0.7vw;
   padding-top: 0.5vh;
   padding-bottom: 0.5vh;
   margin: 1.5vw;
   border-top-left-radius: 0.19vw;
   border-bottom-left-radius: 0.19vw;
   border-top-right-radius: 0.19vw;
   border-bottom-right-radius: 0.19vw;
 }

 .post-form form button {
   border: none;
   background: deepskyblue;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   display: inline-block;
   margin-right: 1.5vw;
   margin-left: 25.6vw;
   padding-right: 0.7vw;
   padding-left: 0.7vw;
   padding-top: 0.5vh;
   padding-bottom: 0.5vh;
   border-top-left-radius: 0.19vw;
   border-bottom-left-radius: 0.19vw;
   border-top-right-radius: 0.19vw;
   border-bottom-right-radius: 0.19vw;
   font-size: 1vw;
 }

 .post-form form a {
   display: inline-block;
   text-decoration: none;
   background: rgb(197, 196, 196);
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 1vw;
   padding-right: 0.7vw;
   padding-left: 0.7vw;
   padding-top: 0.5vh;
   padding-bottom: 0.5vh;
   margin: 1.5vw;
   border-top-left-radius: 0.19vw;
   border-bottom-left-radius: 0.19vw;
   border-top-right-radius: 0.19vw;
   border-bottom-right-radius: 0.19vw;
 }

 .post-links {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0.31vw;
    min-width: 40vw;
    height: 13vh;
    justify-content: space-evenly;
    align-items: center;
 }

 .post-links li {
    list-style: none;
    padding-right: 3.4vw;
    padding-left: 3.4vw;
    display: inline-block;
    border-right: 1px solid lightgray;
 }

 .feed {
    position: relative;
 }

 .post-links li:last-child {
    border: none;
 }

 .text-icon {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
 }

 .text-li:hover .text-icon {
    top: -5px;
 }

  .photo-icon {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
 }

 .photo-li:hover .photo-icon {
    top: -5px;
 }

  .quote-icon {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
 }

 .quote-li:hover .quote-icon {
    top: -5px;
 }

  .link-icon {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
 }

 .link-li:hover .link-icon {
    top: -5px;
 }

 .text-link {
    text-decoration: none;
    display: block;
    color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
 }

 .post-icons {
    display: block;
    font-size: 3vw !important;
 }

 .text {
    color: black;
 }

 .photo {
    color: red;
 }

 .quote {
    color: orange;
 }

 .link {
    color: green;
 }

 .post {
    background: white;
    width: 100%;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    margin: 0 auto;
    margin-bottom: 2.5vh;
    padding-top: 2.5vh;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
 }

 .explore-post {
    background: white;
    width: 27.7vw;
    border-top-left-radius: 0.19vw;
    border-bottom-left-radius: 0.19vw;
    border-top-right-radius: 0.19vw;
    border-bottom-right-radius: 0.19vw;
    margin-bottom: 1.6vh;
    padding-top: 1.6vh;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    padding-bottom: 1.6vh;
    border: 1px solid lightgray;
 }

 .pictures {
    width: 108.6%;
    position: relative;
    right: 1.6vw;
 }

 .explore-pictures {
    width: 30vw;
    position: relative;
    right: 1.15vw;
 }

 .post li {
    list-style: none;
 }

 .explore-post li {
    list-style: none;
 }

 .explore-post a {
    font-size: 1vw;
 }

 #delete-post {
    border: none;
    background: white;
    color: rgb(75, 75, 75);
    display: block;
    padding: 0;
    margin-right: 0;
    margin-left: 91%;
    font-size: 1vw;
 }

 #edit-post {
   text-decoration: none;
   color: rgb(75, 75, 75);
   display: block;
   text-align: end;
   font-size: 1vw;
   margin-right: 0.5vw;
 }

 .post-options {
    font-family: Arial, Helvetica, sans-serif;
 }

 .logout-btn {
    border: none;
    background: none;
    color: gray;
    margin-left: 7.4vw;
    font-size: 1vw;
 }

 .signup a {
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, .0941176);
    margin: 1%;
    text-decoration: none;
    padding: 0.3% 0.6% 0.3% 0.6%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vw;
 }

 .signup p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 1vw;
 }

 .slogan {
    margin-bottom: 1.4%;
 }

 html {
    background-color: rgb(2, 10, 46);
 }

 .hide {
    visibility: hidden;
 }

 .reveal {
    visibility: visible;
 }

 .signup-btn {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 0.5vh;
    border: none;
    width: 21vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.19vw;
 }

 button:hover {
    cursor: pointer;
 }

 .signup {
    text-align: center;
 }

 .hide-signup {
    visibility: hidden;
    position: absolute;
    left: 1%;
 }

 .signup input {
    width: 21vw;
    height: 5vh;
    padding: 0.5%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.19vw;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1vw;
    outline: none;
 }

 .errors {
    color: white;
    list-style: none;
    padding: 0;
    display: block;
    width: 24%;
    margin: 0 auto;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    font-size: 1vw;
 }

 .login a {
    color: rgb(70, 70, 70);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background-color: white;
    margin-top: 0.8%;
    margin-right: 1.6%;
    text-decoration: none;
    padding: 0.6% 0.9% 0.6% 0.9%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.19vw;
 }

 .login form button {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 0.5vh;
    border: none;
    width: 21vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.19vw;
 }

 .demo {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 0.5vh;
    border: none;
    width: 21vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.19vw;
 }

 .login {
    text-align: center;
 }

 .login input {
    width: 21vw;
    height: 5vh;
    padding: 0.5%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.19vw;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1vw;
    outline: none;
 }

 .title {
    text-align: center;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 5vw;
    color: white;
    margin-top: 9.2%;
    width: fit-content;
 }

 .title:hover {
   animation: rainbow 1s ease infinite;
 }