/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .post-links {
    background: white;
    padding: 10px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
 }

 .post-links li {
    list-style: none;
    padding-right: 38px;
    padding-left: 38px;
    display: inline-block;
    border-right: 1px solid lightgray;
 }

 .post-links li:last-child {
    border: none;
 }

 .text-link {
    text-decoration: none;
    display: block;
    color: grey;
    text-align: center;
 }

 .material-icons {
    display: block;
    font-size: 48px !important;
 }

 .text {
    color: black;
 }

 .photo {
    color: red;
 }

 .quote {
    color: orange;
 }

 .link {
    color: green;
 }

 .post {
    background: white;
    width: 520px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 auto;
 }

 .posts {
    padding: 0;
 }

 .post img {
    width: 520px;
 }

 .post li {
    list-style: none;
 }

 #delete-post {
    border: none;
    background: white;
    color: rgb(75, 75, 75);
    display: block;
    padding: 0;
    margin-right: 0;
    margin-left: 476px;
    font-size: 14px;
 }

 #edit-post {
   text-decoration: none;
   color: rgb(75, 75, 75);
   display: block;
   text-align: end;
   font-size: 14px;
   margin-right: 3px;
 }

 .post-options {
    font-family: Arial, Helvetica, sans-serif;
 }

 .logout-btn {
    border: none;
    background: none;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
 }

 .signup a {
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, .0941176);
    margin: 10px;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    position: absolute;
    top: 0;
    right: 0;
 }

 .signup p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
 }

 .slogan {
    margin-bottom: 15px;
 }

 html {
    background-color: rgb(2, 10, 46);
 }

 .hide {
    visibility: hidden;
 }

 .reveal {
    visibility: visible;
 }

 .signup button {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    padding: 10px 65px 10px 65px;
    border-radius: 3px;
 }

 button:hover {
    cursor: pointer;
 }

 .signup {
    text-align: center;
 }

 .signup input {
    width: 190px;
    height: 35px;
    padding: 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto;
 }

 .errors {
    color: white;
    list-style: none;
    padding: 0;
    display: block;
    width: 190px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
 }

 .login a {
    color: rgb(70, 70, 70);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
 }

 .login form button {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    padding: 10px 65px 10px 65px;
    border-radius: 3px;
    width: 190px;
 }

 .demo {
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    padding: 10px 48px 10px 48px;
    border-radius: 3px;
 }

 .login {
    text-align: center;
 }

 .login input {
    width: 190px;
    height: 35px;
    padding: 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto;
 }

 .title {
    text-align: center;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 60px;
    color: white;
 }